@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #22254b;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.movie img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
    font-size: 1rem;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: rgba(255, 255, 255);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.4s ease-in-out;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}
